@keyframes rotate {
  from {
    transform: rotate(0)
  }
  to {
    transform: rotate(359deg)
  }
}
.loader {
  animation-duration: 1s;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}