.layout {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  @apply text-white;
  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 0;
    @apply bg-black;
  }
  &__body {
    width: 100%;
    max-width: 496px;
    margin: 0 auto;
    flex-grow: 1;
    z-index: 2;
  }
}