@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  font-family: "Inter", "Ubuntu", "Helvetica", sans-serif !important;
}
$breakpoints: (
  xSmall: 500px,
  small: 720px,
  medium: 960px,
  large: 1280px,
);
$dark_background: #0e0e0e;
$pink: #ce3a8b;
$blue: #4355f9;
$gray: #c4c4c4;
$light-gray: #f3f6fd;
$light: #ebebf1;
$white: #fff;
$offset_grid_top: 80px;
$offset_grid_top_xs: 50px;
$header_height: 80px;
$cube_side: 75px;
$plate_width: 1120px;
$dark: #0e0e0e;
$white: #fff;
$grey-purple: #979aac;
$red: #fd4040;
$blue: #4355f9;
$purple: #ce3a8b;
$graydark: #40444f;
$gray: #464646;
$inp-bg-dark: #242424;
$inp-bg-light: #f7f8ff;

@import "~include-media/dist/_include-media.scss";
@import "./components/common/Loader/index.scss";
@import "./components/common/Layout/index.scss";
@import "./components/common/Button/index.scss";
@import "./components/common/NumericalInput/index.scss";
@import "./components/TokenGetter/index.scss";
@import "./components/common/CircleTimer/index.scss";
