.token-getter {
  width: 100%;
  color: $white;
  &__plate {
    padding: 36px 0;
    @apply max-w-4xl;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    font-size: 56px;
    font-weight: 500;
    @include media('>=xSmall', '<medium') {
      font-size: 32px;
    }
    margin-bottom: 40px;
  }
  &__summary {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 24px;
    @include media('>=xSmall', '<medium') {
      font-size: 14px;
    }
  }
  &__unlogged {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.tg-form {
  width: 100%;
  max-width: 360px;
  @apply mx-auto;
  $parent: &;
  &__amount {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__label {
    font-size: 18px;
    margin-right: 12px;
  }
  &__label-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  &__footer {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
  }
  &__btn-wrapper {
    width: 50%;
    &:first-of-type {
      padding-right: 4px;
    }
    &:last-of-type {
      padding-left: 4px;
    }
  }
  &__btn {
    width: 100%;
  }
  &__response {
    display: flex;
    flex-direction: column;
    div {
      margin: 12px 0;
      line-height: 1.7;
    }
  }
  &__res-text {
    &--error {
      color: $red;
    }
  }
}